
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    text-align: center;
    margin: 0%;
    padding: 1px;
    background-color: #d51315;
    color: #fff;
    padding-top: 40px;
}

nav ul {
    list-style: none; 
    margin: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav li {
    margin-right: 20px;
    padding: 8px;
    text-decoration: underline;
    text-decoration-color: #fff ;
}

nav a {
    text-decoration: none;
    color: #FFF;
}

nav li:hover {
    background-color: #d51315;
    font-size: 20px;
}


.current-events {
    text-align: center;
}

.events-container {
    display: flex;
    justify-content: space-around;
}

.card {
    box-shadow: 0 4px 8px 0 #d40a0a; 
    border-radius: 8px; 
    padding: 30px; 
    margin: 5px; 
    display: inline-block; 
    flex: 1;
}


.spotlight {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
}

.spotlight-item {
    
    box-shadow: 0 4px 8px 0 #d40a0a;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
}



footer {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #d51315;
    color: #fff;
}

footer p {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
}

.hero {
    margin-top: 0px;
    width: 100%; 
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

.hero img {
    width: 100%; 
    height: auto; 
   
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#menu::before {
    content: "☰";
    color: #fff;
}

#menu.open::before {
	content: "X";
}

.navigation {
    display: block;
    background-color: #d51315;
}

.weather-card {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-color: #d51315;
    text-align: center;
  }
  
  .weather-card h2 {
    margin-bottom: 10px;
  }
  
  .weather-card figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .weather-card figure img {
    width: 100px;
    height: 100px;
  }
  
  .weather-card ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    gap: 10px;
  }
  
  .weather-card li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    min-width: 150px;
    border-color: #d51315;
  }

  figcaption {
    margin-left: 8px;
  }

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}


.switch {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #d51315;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: #fff;
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px #000;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.banner {
    display: none;
    background-color: #d51315;
    color: #fff;
    padding: 10px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pic1 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.pic2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.pic3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.pic4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pic5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pic6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.pic1 img,
.pic2 img,
.pic3 img,
.pic4 img,
.pic5 img,
.pic6 img {
    width: 100%;
    height: 250px;
    transition: transform 0.3s ease-in-out;
}

.pic1:hover img,
.pic2:hover img,
.pic3:hover img,
.pic4:hover img,
.pic5:hover img,
.pic6:hover img {
    transform: scale(1.1);
}

.guest-card {
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0 4px 8px 0 #d40a0a;
    border-radius: 8px;
    padding: 50px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.card1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 8px;
    padding: 50px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.card2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 8px;

    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}



iframe {
    height: auto;
}

.join-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.join-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.join-form label {
    display: block;
    margin-bottom: 5px;
}

.join-form input[type="text"],
.join-form input[type="email"],
.join-form input[type="tel"],
.join-form select,
.join-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.join-form textarea {
    height: 100px;
    resize: vertical;
}

.join-form input[type="submit"],
.join-form button {
    background-color: #d51315;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.join-form input[type="submit"]:hover,
.join-form button:hover {
    background-color: grey;
}
.submit-container {
    text-align: center;
    margin-top: 20px;
}

.membership-benefits {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.membership-benefits h2 {
    text-align: center;
    margin-bottom: 20px;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits-column {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.benefits-column h3 {
    margin-top: 0;
}

.benefits-column ul {
    list-style-type: none;
    padding: 0;
}

.benefits-column ul li {
    margin-bottom: 5px;
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .member-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px; 
    box-sizing: border-box; 
  }
  
  .member-box img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
  }
  
  .list-view .members-container {
    flex-direction: column;
    align-items: center;
  }
  
  .list-view .member-box {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list-view .member-box p {
    margin-left: 40px;
  }
  
  .list-view .member-box:nth-child(even) {
    background-color: #f2f2f2;
  }

@media screen and (max-width: 600px) {
    nav ul {
        display: none;
    }
    nav ul.open {
        display: block;
    }


    #menu.open {
        display: block;
    }

    .large-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .spotlight {
        flex-direction: column;
    }

    .events-container {
        flex-direction: column;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
    .weather-card ul {
        grid-template-columns: repeat(1, 1fr); 
      }
    }

    .pic1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    
    .pic2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    
    .pic3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;
    }
    
    .pic4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 11;
    }
    
    .pic5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 12;
    }
    
    .pic6 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 12;
        grid-row-end: 13;
    }

    .join-form {
        padding: 10px;
    }

    .benefits-column {
        width: 100%;
    }
    



@media screen and (min-width: 600px) {
    #menu {
        display: none;
    
    }

    .large-image {
        display: block;
        width: 100%;
        height: 500px;
    }

    .mobile-image {
        display: none;
    }

}